/* Modal.scss */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    position: relative;    
    gap: 5px;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;

}

button {
    padding: 8px 12px;
    border: none;
    background-color: #1100ff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
