.userlist{
    font-size: 30px;
    font-family: 'Arial', sans-serif;
    font-weight: normal;
}
/* UserManager.scss */
.button-gap {
    margin-right: 10px; /* Adjust this value as needed */
    margin-left: 10px;
}
.btn-close{
    margin-left: 20px;
    background-color: red;
}
.btn-delete{
    background-color: red;
}