.user-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 1100px; 
  max-height: 1000px ;
  margin: 20px auto;

  // Grid layout cho cards
  .cards-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 cột
    grid-template-rows: auto; // Các hàng tự động thay đổi theo nội dung
    gap: 20px; 
  }

  .card {
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; 

    .img-i {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ddd;
      margin-bottom: 10px;
    }

    .fullname-p {
      font-size: 18px;
      color: #1a1a1a;
      font-family: 'Arial Narrow Bold', sans-serif;
      font-weight: 700;
      margin: 10px 0;
      text-transform: capitalize;
    }

    .email-p {
      font-size: 16px;
      color: #555;
      font-family: 'Arial', sans-serif;
      margin-bottom: 10px;
    }

    .btn-crud {
      display: flex;
      gap: 10px;
      justify-content: center;
    }
  }

  // Pagination
  .btn-pagination {
    display: flex; /* Sử dụng flexbox */
    justify-content: flex-end; /* Đẩy nút sang bên phải */
    margin-top: 10px;
    gap: 10px;
  }

  .btn-pagination button {
    padding: 10px 20px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .btn-pagination button:disabled {
    background-color: #ddd;
    color: #aaa;
    cursor: not-allowed;
    border-color: #ddd;
  }

  .page {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
  }
}
.email-p {
  font-size: 16px;
  color: #555;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  margin-bottom: 10px;
  word-wrap: break-word; 
}
.btn-crud {
  display: flex;
  gap: 10px;
  margin-top: 10px; 
  justify-content: end;
  
}

.btn-crud button {
  padding: 8px 12px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}


.btn-crud .delete {
  background-color: red;
}

.btn-crud .delete:hover {
  background-color: rgb(255, 70, 3); 
}


.btn-crud .update {
  background-color: blue;
}

.btn-crud .update:hover {
  background-color: darkblue; 
}


.btn-crud .view {
  background-color: black;
}

.btn-crud .view:hover {
  background-color: #333; 
}


.input-filter {
  width: 95%; 
  padding: 12px;
  margin-bottom: 20px;
  margin-left: 10px;
  border: 1px solid #ddd; 
  border-radius: 5px; 
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 

  &:focus {
      border-color: #0056b3; 
      outline: none;
      box-shadow: 0 2px 8px rgba(0, 86, 179, 0.3); 
  }
}
.err-data{
  font-size: large;
}