.userlist{
    font-size: 30px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
/* UserManager.scss */
.button-gap {
    margin-right: 10px; 
    margin-left: 10px;
}
.btn-close{
    margin-left: 20px;
    background-color: red;
}
.btn-delete{
    background-color: red;
}
.btn-add{
    background-color: rgb(17, 190, 17);
}
